package main

import (
	"bufio"
	"fmt"
	"os"
)

func main() {
	x := parseInput

	fmt.Println(x)
}

func parseInput() []int {
	var list []int
	scanner := bufio.NewScanner(os.Stdin)
	for scanner.Scan() {
		line := scanner.Text()

		list = append(list, line)
	}
	return list
}
